<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cc68.mapper.MessageMapper">
    <update id="createTable">
        CREATE TABLE message_${account} (
            "ID" text NOT NULL,
            "position" TEXT,
            "originator" TEXT,
            "receiver" TEXT,
            "message" TEXT,
            "type" TEXT,
            "time" INTEGER
        );

        PRAGMA foreign_keys = true;
    </update>
<!--    parameterType="com.cc68.pojo.MessageDatabase"-->
    <insert id="insertOriginatorMessageDatabase" parameterType="com.cc68.pojo.MessageDatabase">
        insert into message_${originator}(id,position,originator,receiver,message,type,time)
        values (#{ID},#{position},#{originator},
                #{receiver},#{message},
                #{type},#{time})
    </insert>

    <insert id="insertReceiverMessageDatabase" parameterType="com.cc68.pojo.MessageDatabase">
        insert into message_${receiver}(id,position,originator,receiver,message,type,time)
        values (#{ID},#{position},#{originator},
                #{receiver},#{message},
                #{type},#{time})
    </insert>

    <select id="selectAllMessage" resultType="com.cc68.pojo.MessageDatabase">
        select * from message_${account} order by time;
    </select>
<!--    &lt;!&ndash;这个id时唯一的表示这个SQL语句&ndash;&gt;-->
<!--    <select id="selectMessage" parameterType="java.lang.String">-->
<!--        select account from t_users where account = #{account};-->
<!--    </select>-->

<!--    <update id="update">-->
<!--        update t_users set lastLoginTime=#{time} where account = #{account};-->
<!--    </update>-->

<!--    <insert id="insert">-->
<!--        insert into t_users(account,lastLoginTime) values (#{account},#{time});-->
<!--    </insert>-->

</mapper>